html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-number{
  width: 220px;
  padding: 5px;
  text-align: center;
}

#card-type{
  display: block;
  margin: 15px 0;
  text-align: center;
}

.ok{
  color: green;
}
.error{
  color: red;
}